*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    width: 96vw;
    overflow: hidden;
}

.nav-items{
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    position: absolute;
    margin-top: 15px;
    margin-left: 28vw;
    font-size: 25px;
    font-family: sans-serif;
}

.active-item{
    color: #FE7F5F;
}

nav>img:first-child{
    margin-top: 1vh;
    height: 40px;
}


nav>img:last-child{
    margin-right: -80px;
    margin-left: 100px;
}

.intro-section{
    display: flex;
    margin: 0 2vw;
}

.left-section{
    display: flex;
    flex-direction: column;
    width: 57vw;
}

h3{
    margin-top: 100px;
    font-size: 45px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;

}

h3>img{
    margin-left: 15px;
    height: 45px;
}

.left-section>h1{
    font-family: 'Fredoka One', sans-serif;
    font-size: 80px;
    margin-top: 10px;
    font-weight: 100;
}

.sub-headlines{
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 135px;
}

.sub-headline{
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 300;
    margin-top: 17px;

}

.sub-headline>img{
    height: 20px;
    margin-right: 20px;
    background-color: #FE5E35;
    border-radius: 20px;
    padding: 5px;
}

.text{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.action-btns{
    margin-top: 20px;

}

.action-btn{
    background-color: #FE5E35;
    border: none;
    padding: 15px 25px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.action-btn:first-child{
    margin-right: 30px;
}

.discount{
    position: absolute;
    top: 390px;
    left: 56vw;
    height: 160px;
}

.headphone-div>img:first-child{
    filter: drop-shadow(1px 6px 0px #cdc6c6);
}

.discount-content{
    position: absolute;
    top: 430px;
    left: 895px;
    font-family: 'Fredoka One', sans-serif;
    color: #ffffff;
    /* display: flex; */
    text-align: center;
}

.discount-content>h1{
    font-size: 50px;
}

.headphone-div>img:last-child{
    height: 70vh;
}

.right-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dots{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10vw;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #1d1d1d;
    border-radius: 20px;
}

.yellow-dot{
    background-color: #FBD104;
}

.tomato-dot{
    background-color: #FE5E35;
}

.right-section>button{
    margin-top: 20px;
}