@media screen and (max-width:800px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        height: 20vh;
        width: 80vw;
    }
    .nav-items{
        display: flex;
        flex-direction: row;
        width: 80vw;
        justify-content: space-between;
        /* position: absolute; */
        margin-top: 0;
        margin-left: 0;
        font-size: 1.563rem;
        font-family: sans-serif;
    }             

    nav>img:last-child{
        margin-right: 0;
        margin-left: 0;
    }

    .intro-section{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .left-section{
        width: 80vw;
        align-items: center;
    }

    .left-section>h1{
        font-family: 'Fredoka One', sans-serif;
        font-size: 4rem;
        width: 80vw;
        margin-top: 10px;
        font-weight: 100;
        text-align: center;
    }

    .text{
        width: 80vw;
        text-align: center;
    }

    .sub-headlines{
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-left: 0;
    }

    .sub-headline{
        display: flex;
        align-items: center;
        font-size: 27px;
        font-weight: 300;
        margin-top: 17px;

        
    }

    .discount{
        position: relative; 
        top: 300px;
        left: 0px;
        /* left: 56vw; */
        height: 160px;
    }
    
    .discount-content{
        position: relative;
        top: 175px;
        left: 40px;
        font-family: 'Fredoka One', sans-serif;
        color: #ffffff;
        /* display: flex;
     */
    }

    .headphone-div>img:last-child{
        height: 50vh;
        width: 80vw;
        margin-top: -160px;
    }
    
}